article {
  max-inline-size: 50%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: var(--gap-20);
  position: relative;
  border-radius: var(--border-corner-16);
  background-color: hsl(from var(--primary) h s l / 10%);
  padding-block-end: var(--gap-32);

  & :where(img) {
    grid-column: 1 / -1;
  }
  & :where(p, h2, a) {
    grid-column: 2 / -2;
  }

  & .btn-like {
    display: flex;
    padding: var(--gap-8);
    border-radius: var(--border-corner-8);
    gap: var(--gap-4);
    align-items: center;
    position: absolute;
    background-color: hsl(from var(--secondary) h s l / 50%);
    top: var(--gap-16);
    right: var(--gap-16);
    z-index: 100;

    & span {
      color: var(--black);
      font-size: var(--font-16);
      font-weight: bold;
    }
    & .icon {
      inline-size: var(--font-32);
      aspect-ratio: 1;
      fill: var(--black);
    }
  }
  & img {
    height: 260px;
    border-top-left-radius: var(--border-corner-16);
    border-top-right-radius: var(--border-corner-16);
    object-fit: cover;
    object-position: center;
  }

  h2 {
    padding-block: var(--gap-16) var(--gap-8);
    color: var(--grey-500);
    font-size: clamp(var(--font-20), 7vw, var(--font-24));
    font-weight: 400;
  }

  p {
    padding-block-end: var(--gap-12);
  }

  .wa-btn {
    grid-column: 2;
  }

  .border-prymary-btn {
    grid-column: 3;
  }
}
