article {
  container-type: inline-size;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: max-content min-content auto auto auto;
  column-gap: var(--gap-20);
  position: relative;
  border-radius: var(--border-corner-16);
  background-color: hsl(from var(--primary) h s l / 10%);
  padding-block-end: var(--gap-32);
  row-gap: var(--gap-12);

  & :where(img) {
    grid-column: 1 / -1;
  }
  & :where(p, h2, a) {
    grid-column: 2 / -2;
  }

  & .btn-like {
    display: flex;
    padding: var(--gap-8);
    border-radius: var(--border-corner-8);
    gap: var(--gap-4);
    align-items: center;
    position: absolute;
    background-color: hsl(from var(--secondary) h s l / 50%);
    top: var(--gap-16);
    right: var(--gap-16);
    z-index: 100;

    & span {
      color: var(--black);
      font-size: var(--font-16);
      font-weight: bold;
    }
    & .icon {
      inline-size: var(--font-32);
      aspect-ratio: 1;
      fill: var(--black);
    }
  }

  & img {
    height: 100%;
    border-top-left-radius: var(--border-corner-16);
    border-top-right-radius: var(--border-corner-16);
    object-fit: cover;
  }

  h2 {
    padding-block: var(--gap-8) var(--gap-4);
    color: var(--grey-500);
    font-size: clamp(var(--font-20), 5vw, var(--font-24));
    font-weight: 400;
  }

  p {
    padding-block-end: var(--gap-18);
    font-size: clamp(var(--font-16), 4vw, var(--font-18));
  }

  .wa-btn {
    grid-column: 2;
  }

  .border-prymary-btn {
    grid-column: 3;
  }
}

@container (max-width: 360px) {
  article {
    grid-template-columns: auto 1fr auto;

    & :where(p, h2, a) {
      grid-column: 2;
    }

    & :is(.wa-btn, .border-prymary-btn) {
      grid-column: 2;
    }
  }
}
