article {
  max-inline-size: 50%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  row-gap: var(--gap-8);
  column-gap: var(--gap-20);
  border-radius: var(--border-corner-16);
  background-color: hsl(from var(--primary) h s l / 10%);
  padding-block-end: var(--gap-32);

  & :where(img) {
    grid-column: 1 / -1;
  }
  & :where(p, h2, a) {
    grid-column: 2 / -2;
  }

  & img {
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  h2 {
    color: var(--grey-500);
    font-size: clamp(var(--font-20), 7vw, var(--font-24));
    font-weight: 400;
  }

  .btn {
    align-self: flex-end;
    padding-block: 0.75rem;
    padding-inline: var(--gap-20);
    border-radius: 50vw;
    font-size: var(--font-18);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;

    &[href] {
      text-decoration: none;
    }
  }
  .wa-btn {
    grid-column: 2;
    background-color: var(--whatsapp-dark-green);
    color: var(--white);
  }

  .map-btn {
    grid-column: 3;
    color: var(--black);
    border: 2px solid var(--primary);
  }
}
