.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block-start: var(--gap-8);
}
.logo {
  flex: 1 1 100%;
  color: var(--black);
  font-size: var(--font-24);
  font-weight: bold;
  padding-block-end: var(--gap-8);
}

.tabs {
  inline-size: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.tab {
  flex: 1 1 auto;
  padding: var(--gap-8) var(--gap-32);
  border-bottom: 2px solid var(--primary);
  border-top-left-radius: var(--border-corner-6);
  border-top-right-radius: var(--border-corner-6);
  color: var(--black);
  font-size: var(--font-20);
  font-weight: bold;
}

.tab:has(:checked) {
  color: var(--white);
  background-color: var(--primary);
}

@media screen and (max-width: 1024px) {
  .tabs {
    display: flex;
  }
}
