.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-start: var(--gap-16);
}

.tabs {
  inline-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  flex: 1 1 auto;
  padding: var(--gap-8) var(--gap-32);
  border-bottom: 2px solid var(--primary);
  border-top-left-radius: var(--border-corner-6);
  border-top-right-radius: var(--border-corner-6);
  color: var(--black);
  font-size: var(--font-20);
  font-weight: bold;
}

.tab:has(:checked) {
  color: var(--white);
  background-color: var(--primary);
}
