.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
}

.header__nav {
  display: flex;
  gap: 1rem;
  font-size: var(--font-18);

  & > a {
    color: var(--grey-500);
  }
}
