:root {
  --primary: hsl(250, 56%, 75%);
  --secondary: hsl(340, 73%, 93%);
  --white: hsl(0, 0%, 100%);
  --surface: hsl(240, 9%, 98%);
  --grey-50: hsl(240, 11%, 96%);
  --grey-100: hsl(218, 33%, 95%);
  --grey-150: hsl(218, 22%, 90%);
  --grey-200: hsl(220, 30%, 86%);
  --grey-300: hsl(220, 27%, 57%);
  --grey-400: hsl(220, 20%, 45%);
  --grey-500: hsl(221, 30%, 33%);
  --black: hsl(240, 1%, 16%);
  --green-dark: hsl(138, 23%, 51%);
  --green-light: hsl(137, 61%, 92%);
  --whatsapp-dark-green: hsl(132, 75%, 45%);

  /* CORNER SIZES */
  --border-corner-4: 0.25rem;
  --border-corner-6: 0.375rem;
  --border-corner-8: 0.5rem;
  --border-corner-10: 0.625rem;
  --border-corner-12: 0.75rem;
  --border-corner-14: 0.875rem;
  --border-corner-16: 1rem;
  --border-corner-18: 1.125rem;
  --border-corner-20: 1.25rem;
  --border-corner-24: 1.5rem;
  --border-corner-28: 1.75rem;
  --border-corner-32: 2rem;

  /* GAP SIZES */
  --gap-4: 0.25rem;
  --gap-6: 0.375rem;
  --gap-8: 0.5rem;
  --gap-10: 0.625rem;
  --gap-12: 0.75rem;
  --gap-14: 0.875rem;
  --gap-16: 1rem;
  --gap-18: 1.125rem;
  --gap-20: 1.25rem;
  --gap-24: 1.5rem;
  --gap-28: 1.75rem;
  --gap-32: 2rem;
  --gap-36: 2.25rem;
  --gap-40: 2.5rem;
  --gap-48: 3rem;
  --gap-56: 3.5rem;
  --gap-64: 4rem;
  --gap-72: 4.5rem;
  --gap-80: 5rem;
  --gap-88: 5.5rem;
  --gap-96: 6rem;
  --gap-128: 8rem;
  --gap-152: 9.5rem;
  --gap-176: 11rem;
  --gap-192: 12rem;
  --gap-208: 13rem;
  --gap-224: 14rem;
  --gap-240: 15rem;

  /* FONT SIZES */
  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-20: 1.25rem;
  --font-24: 1.5rem;
  --font-28: 1.75rem;
  --font-32: 2rem;
  --font-36: 2.25rem;
  --font-40: 2.5rem;
  --font-48: 3rem;
  --font-56: 3.5rem;
  --font-64: 4rem;
  --font-72: 4.5rem;
  --font-80: 5rem;
  --font-88: 5.5rem;
  --font-96: 6rem;
  --font-112: 7rem;
  --font-128: 8rem;

  /* DOM ELEMENT SIZES */
  --size-4: 0.25rem;
  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-88: 5.5rem;
  --size-96: 6rem;
  --size-112: 7rem;
  --size-128: 8rem;
  --size-152: 9.5rem;
  --size-176: 11rem;
  --size-192: 12rem;
  --size-208: 13rem;
}
